@use 'node_modules/include-media/dist/_include-media.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primitive-color-white-rich: 248 248 248;
  --primitive-color-primary: 130 71 142;
  --primitive-color-secondary: 241 244 125;
  --primitive-color-tertiary: 228, 189, 228;
  --primitive-color-quaternary: 255, 100, 255;
  --primitive-color-border: 68 44 63;
  --primitive-background: 178 127 166;

  --kemet-color-primary: var(--primitive-color-primary);
  --kemet-color-foreground: var(--primitive-color-primary);
  --kemet-color-background: var(--kemet-color-white);
  --kemet-color-error: var(--kemet-color-red-700);

  --color-white: rgb(var(--kemet-color-white));
  --color-white-rich: rgb(var(--primitive-color-white-rich));
  --color-gray-300: rgb(var(--kemet-color-gray-300));
  --color-gray-800: rgb(var(--kemet-color-gray-800));
  --color-border: rgb(var(--primitive-color-border));
  --color-success: rgb(var(--kemet-color-success));
  --color-danger: rgb(var(--kemet-color-error));
  --color-link: rgb(var(--primitive-color-primary));
  --color-primary: rgb(var(--primitive-color-primary));
  --color-secondary: rgb(var(--primitive-color-secondary));
  --color-tertiary: rgb(var(--primitive-color-tertiary));
  --color-quaternary: rgb(var(--primitive-color-quaternary));
  --color-border: rgb(var(--primitive-color-border));
  --color-background: rgb(var(--primitive-background));


}

html {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "Spectral", serif;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.5;
  background-color: var(--color-background);
}

a {
  color: var(--color-border);
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;

  &:hover {
    color: var(--color-secondary);
  }
}

p {
  @media (min-width: 1024px) {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

hr {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(var(--kemet-color-gray-200));
}

table {
  color: inherit;
}

input,
textarea {
  font-size: 1rem;
  padding: 1rem;
}

textarea {
  min-height: 10em;
}

main {
  & > section {
    padding: 1rem;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }

  & > section:has(business-booking) {
    color: var(--color-primary);
    background-color: var(--color-white);
  }

  & > section:nth-child(odd):not(:has(business-booking)) {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
  }

  & > section:nth-child(even):not(:has(business-booking)) {
    color: var(--color-white);
    background-color: var(--color-quaternary);
  }

  & > section > * {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding: 2rem;
    }
  }

  @media (min-width: 1024px) {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 1;
    overflow: auto;
  }
}

